<%- include('header.ejs'); -%>
<div class="container">

        <div class="timeline">
        <div class="timeline-cover">
        
        <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
        <div class="col-md-3">
        <div class="profile-info">
        <img src="/<%= User_array.photo %>" alt="" class="img-responsive profile-photo" />
        <h3><%= User_array.fname %></h3>
        <p class="text-muted">Creative Director</p>
        </div>
        </div>
        <div class="col-md-9">
        <ul class="list-inline profile-menu">
        <li><a href="timeline-about">About</a></li>
        <li><a href="timeline-friend" class="active">Friends</a></li>
        </ul>
        <ul class="follow-me list-inline">
        <li>12 people following her</li>
        <li><button class="btn-primary">Add Friend</button></li>
        </ul>
        </div>
        </div>
        </div>
        
        <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
        <img src="assets/images/users/user-1.jpg" alt="" class="img-responsive profile-photo" />
        <h4>Sarah Cruiz</h4>
        <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
        <ul class="list-inline">
            <li><a href="timeline.html">Timeline</a></li>
            <li><a href="timeline-about">About</a></li>
            <li><a href="timeline-friend" class="active">Friends</a></li>
        </ul>
        <button class="btn-primary">Add Friend</button>
        </div>
        </div>
        </div>
        <div id="page-contents">
        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
        
        <div class="friend-list">
           
        <div class="row">
            <% if(user_array.length>0) { %>
              <% for(var i=0 ;i<user_array.length;i++) {%> 

        <div class="col-md-6 col-sm-6">
        <div class="friend-card">
        <img src="assets/images/covers/3.jpg" alt="profile-cover" class="img-responsive cover" />
        <div class="card-info">
        <img src="/<%=  user_array[i].photo%>" alt="user" class="profile-photo-lg" />
        <div class="friend-info">
        <a href="#" class="pull-right text-green">My Friend</a>
        <h5><a href="timeline.html" class="profile-link"><%= user_array[i].fname %></a></h5>
        <p>Traveler</p>
        </div>
        </div>
        </div>
        </div>
        <% } %>
        <% } else {%>
          Not Record Found
          <% } %>
      
      
        </div>
        <%- include('footer.ejs'); -%>