<%- include('header.ejs'); -%>
<div class=" content-area">
	<div class="page-header">
		<h4 class="page-title" style="margin-left:250px;">Forms</h4>
		
	</div>
	 <div class="row">
		<div class="col-xl-6" style="margin-left: 258px;">
			<div class="card m-b-20">
				<div class="card-header">
					<h3 class="card-title" style="margin-left: 0px;">Profile Edit</h3>
					
				</div>
				<div class="card-body" style="margin-right:300px;">
					<form method="POST"  ref='uploadForm' id='uploadForm' encType="multipart/form-data">
						<div class="form-group">
							<label class="form-label" for="exampleInputEmail1">User Name</label>
							
							<input type="text" class="form-control" name="fname" value="<%= user_array.fname %>" id="exampleInputname"  placeholder="Enter Name">
						</div>
						
						<div class="form-group">
								<label class="form-label" for="exampleInputEmail1">Gender:</label>
								<label class="form-label" for="exampleInputEmail1">
										<input type="radio" id="exampleInputname" name="gender" value="Male"id="User_gender"required="">
										Male
									</label>
									<label class="form-label" for="exampleInputEmail1">
										<input type="radio" id="exampleInputname"name="gender"  value="Female"id="User_gender"	required="">
										Female
									</label>
								</div>
						
								<div class="form-group">
										<label class="form-label" for="exampleInputEmail1">Profile</label>
										<input type="file" name="new_photo"  id="exampleInputname"  >
										<input type="text" name="past_photo" value="<%= user_array.photo %>" id="exampleInputname" >
									</div>						
						
						
						<div class="form-group">
							<label class="form-label">Date Of Birth</label>
							<input type="date" class="form-control"  name="date" value="<%= user_array.date %>" placeholder="number">
						</div>
						<div class="form-group">
								<label class="form-label" for="exampleInputEmail1">Address</label>
								<input type="text" class="form-control" id="exampleInputname" name="address" value="<%= user_array.address %>" placeholder="Address">
							</div>

						
						<div class="form-group">
								<label class="form-label" for="exampleInputEmail1">College Name</label>
								<select name="college">
									<% for(var i=0; i<College.length;i++) { %>
										
											<option value='<%= College[i]._id %>'> <%= College[i].college_name %> </option>
										   
										   
										<% } %></select>
							</div>
							<div class="form-group">
									<label class="form-label" for="exampleInputEmail1">Branche</label>
									<select name="branch">
										<% for(var i=0; i<branch.length;i++) { %>
											
												<option value='<%= branch[i]._id %>'> <%= branch[i].branch_name %> </option>
											   
											   
											<% } %></select>
								</div>
								<div class="form-group">
										<label class="form-label" for="exampleInputEmail1">Sem</label>
										<select name="sem">
											<% for(var i=0; i<sem.length;i++) { %>
												
													<option value='<%= sem[i]._id%>'> <%= sem[i].Sem_name %> </option>
												   
												   
												<% } %></select>
									</div>
						<div class="form-group">
								<label class="form-label" for="exampleInputEmail1">Area</label>
								<input type="text" class="form-control" id="exampleInputname" name="area" value="<%= user_array.area %>" placeholder="Area">
							</div>
							<div class="form-group">
									<label class="form-label" for="exampleInputPassword1">Phone Number</label>
									<input type="Number" class="form-control" id="exampleInputnumber" name="mobile_no" value="<%= user_array.mobile_no %>" placeholder="Phone number">
								</div>

						<div class="form-group">
							<label class="form-label" for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail2"name="email" value="<%= user_array.email %>" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label class="form-label" for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword2"name="password"
							value="<%= user_array.password %>" placeholder="Password">
						</div>
						<div class="form-group mb-0">
							<div class="checkbox checkbox-secondary">
								<button type="submit" class="btn btn-primary ">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			
		</div>
		<%- include('footer.ejs'); -%>